<div class="circles-wrapper">
    <div class="circles">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			<span>
			<span class="purple">
			</span></span></span></span></span></span></span></span></span></span>
			</span></span></span></span></span></span></span></span></span></span></span></span>
			</span></span></span></span></span></span></span></span></span></span></span></span>
			</span></span></span></span></span></span></span></span></span></span></span></span>
    </div>
</div>