<div class="social-media">
    <a href="http://facebook.com/CruorHilla/" class="facebook" rel="nofollow">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCaLFGziZ1IJ-rDFyxFr-GEw" class="youtube" rel="nofollow">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/cruorhilla/" class="instagram" rel="nofollow">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a href="http://www.last.fm/de/music/Cruor%2520Hilla" class="lastfm" rel="nofollow">
        <i class="fa fa-lastfm" aria-hidden="true"></i>
    </a>
</div>