<div class="social-media">
    <a href="http://facebook.com/CruorHilla/" class="facebook" rel="nofollow" title="Cruor Hilla auf Facebook">
        <i class="fab fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="http://cruorhilla.bandcamp.com/" class="bandcamp" title="Cruor Hilla auf Bandcamp" rel="nofollow">
        <i class="fab fa-bandcamp"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCaLFGziZ1IJ-rDFyxFr-GEw" class="youtube" rel="nofollow" title="Cruor Hilla auf Youtube">
        <i class="fab fa-youtube" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/cruorhilla/" class="instagram" rel="nofollow" title="Cruor Hilla auf Instagram">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="http://www.last.fm/de/music/Cruor%2520Hilla" class="lastfm" rel="nofollow" title="Cruor Hilla auf LastFM">
        <i class="fab fa-lastfm" aria-hidden="true"></i>
    </a>
</div>
