<div class="flex--wrapper">
    {% for teaser_vid in teaser_vids %}
        <div class="teaser--vid">
            <h3 class="text-center">{{ teaser_vid.post_title }}</h3>

            {# Youtube Embed #}
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ teaser_vid.hash }}?showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    {% endfor %}
</div>
