{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
<body class="{{ body_class }}" data-template="base.twig">
{# {% include 'widgets/circles_bg.twig' %} #}
{% include 'widgets/space_bg.twig' %}
<header class="header">
    {% block header %}
        <nav id="nav-main" class="navbar navbar-ch" role="navigation">
            <div class="container">
                {% include "menu.twig" with {'menu': menu.get_items} %}
            </div>
        </nav><!-- #nav -->
    {% endblock %}
</header>

{% block main_banner %}
    <div class="container {% block main_banner_classes %}no-bg{% endblock %}">
        <div class="row">
            <div class="col-xs-12">
                <img class="teaser-img angstblitz" src="{{ site.theme.uri }}/img/CH TITEL_sm.png" alt="Cruor Hilla Angst/Blitz">
            </div>
        </div>
    </div>
{% endblock %}

<main id="content" role="main" class="container">
    <div class="row">
        <div class="col-xs-12">
            {% if title %}<h1>{{ title }}</h1>{% endif %}
            <div class="wrapper">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
        </div>
    </div>
</main>

{% block footer %}
    <footer id="footer" class="container">
        <div class="row">
            {% include 'footer.twig' %}
        </div>
    </footer>
    {{ wp_footer }}
{% endblock %}
</body>
</html>
