{# Add Link zum #}


{#
Copyright {{"now"|date('Y')}}#}

<div class="col-xs-12">
    <h2>Kontakt</h2>
    <strong>Booking:</strong> <a href="mailto:cruorhilla@gmx.de">cruorhilla@gmx.de</a><br><br>
    Copyright Cruor Hilla {{"now"|date('Y')}}
    <a href="{{ impressum.guid }}" class="pull-right">Impressum</a>
</div>
