{% extends "base.twig" %}

{% block main_banner %}
    <div class="container no-bg">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="dark text-center">Zur체ck ins B채llebad</h1>
                <img class="teaser-img" src="{{ site.theme.uri }}/img/teddy.png" alt="Zur체ck ins B채llebad Banner">
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}

    {% if concerts is not empty %}
        <h2 id="gigs">Konzerte</h2>
        {% include "widgets/concert_list.twig" %}
    {% endif %}

{% endblock %}