{% extends "base.twig" %}

{% block content %}

    {% include 'widgets/social_media.twig' %}

    {% include 'widgets/album_teaser.twig' %}

    {% if teaser_vid is not empty %}
        <div id="videos">
            {% include 'widgets/videos.twig' %}
        </div>
    {% endif %}





    {% if concerts is not empty %}
        <h2 class="text-center" id="gigs">Konzerte</h2>
        {% include "widgets/concert_list.twig" %}
    {% endif %}

{% endblock %}