//@font-face {
//    font-family: 'CruorHilla';
//    src: url('../../fonts/cruor_hilla-webfont.eot');
//    src: url('../../fonts/cruor_hilla-webfont.eot?#iefix') format('embedded-opentype'),
//    url('../../fonts/cruor_hilla-webfont.woff') format('woff'),
//    url('../../fonts/cruor_hilla-webfont.ttf') format('truetype'),
//    url('../../fonts/cruor_hilla-webfont.svg#webfont') format('svg');
//}


@font-face {
    font-family: 'levenim';
    src: url('../../fonts/levenim.woff2') format('woff2'),
        url('../../fonts/levenim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LemonMilk';
    src: url('../../fonts/lemonmilk.woff2') format('woff2'),
        url('../../fonts/lemonmilk.woff2') format('woff2');
}
