* {
    .box-sizing(border-box);
}

header,
main,
footer {
    color: @white;
}

img {
    max-width: 100%;
    &.teaser-img {
        margin: 15px auto;
        display: block;
    }
}

.container {
    background: rgba(21, 21, 21, 0.65);
    &.no-bg {
        background: none;
    }
}

h1, h2, h3, h4 {
    &.add--border {
        border-top: 5px solid @white;
        border-bottom: 5px solid @white;
    }
}
