* {
    .box-sizing(border-box);
}

header,
main,
footer {
    color: @white;
}

img {
    max-width: 100%;
    &.teaser-img {
        margin: 15px auto;
        display: block;
    }
    &.teaser-img.angstblitz {
        margin: 105px auto 50px;
    }
}

.container {
    background: rgba(21, 21, 21, 0.65);
    &.no-bg {
        background: none;
    }
    &.middle-logo {
        background: 0 0;
        height: 96vh;
        min-height: 370px;
        align-items: center;
        display: flex;
    }
}

h1, .h1 { font-size: floor((@font-size-base * 2.4)); } // ~36px
h2, .h2 { font-size: floor((@font-size-base * 2.3)); } // 36px

h1, h2, h3, h4 {
    &.add--border {
        border-top: @header-border-width solid @white;
        border-bottom: @header-border-width solid @white;
    }
}

@media (min-width: @screen-xs-min) {
    h1, .h1 { font-size: floor((@font-size-base * 2.8)); }
    h2, .h2 { font-size: @font-size-h2; }
}

@media (min-width: @screen-sm-min) {
    h1, .h1 { font-size: @font-size-h1; }
}
