.social-media {
    width: 100%;
    margin: 10px auto 10px;
    font-size: 3.6rem;
    text-align: center;
    padding: 10px 0;
    border-top: @header-border-width solid @white;
    border-bottom: @header-border-width solid @white;
    a {
        color: @white;
        padding: 0px 10px;
        cursor: pointer;
        &:hover,
        &:focus {
            color: @brand-primary;
            text-decoration: none;
        }
    }
}
